<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJAX Boilerplate</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/public/stylesheets/test.css" />
</head>
<body>
    <div class="row">
        <div class="title">Macka</div>
        <div class="detail">robi mnau</div>
    </div>
    <div class="row">
        <div class="title">Zaba</div>
        <div class="detail">robi kvak</div>
    </div>
    <div class="row">
        <div class="title">Sova</div>
        <div class="detail">robi huu</div>
    </div>

    <script src="/public/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/public/javascripts/jquery-ui.min.js"></script>
    <script src="/public/javascripts/test.js"></script>
</body>
</html>
